<h1>Welcome <%= @user.uname %> </h1>
<div>
    <%= link_to "Edit Profile", edit_user_path%>
    <%= link_to "Add a Course", new_course_path %>
    <%= link_to "Log Out", logout_path %>
</div>
<div>
    <h2>Course Bought</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Price</th>
            <th>Valid Till</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    <h2>Course Published</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Rating</th>
            <th>Enrollemnt Count</th>
        </tr>
        
        <% if (@course_publishe.class)  %>
            <% (@course_publishe).each do |i|%>
                <tr> 
                    <td><%= Course.find(i.course_id).cname %></td>
                    <td><%= Course.find(i.course_id).rating %></td>
                    <td>1</td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>