<style>
    th,td{
        text-align: center;
    }
</style>
<%= render partial: "shared/navigation" %>
<h1>Welcome to your dashboard <i><%= @user.uname %></i> </h1>
<div>
    <h2 class="second-header">Course Bought</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Published By</th>
            <th>Bought On</th>
            <th>Valid Till</th>
            <th>Click To Learn</th>
        </tr>
        <% if (@course_enrollment.class)  %>
            <% (@course_enrollment).each do |i|%>
                <tr> 
                    <td><%= Course.find(i.course_id).cname %></td>
                    <% u_id = CoursePublish.find_by(course_id: i.course_id).user_id %>
                    <td><%= User.find(u_id).uname %></td>
                    <td><%= Transaction.find_by(user_id: i.user_id, course_id: i.course_id).created_at %></td>
                    <td><%= i.valid_till %></td>
                    <td><%= button_to "Click Here", syllabus_path, method: :get, params: { course_id: i.course_id }, class: "button"  %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>
<div>
    <h2 class="second-header">Course Published</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Rating</th>
            <th>Enrollment Count</th>
            <th>Edit Syllabus</th>
            <th>Delete Course</th>
        </tr>
        
        <% if (@course_publishe.class)  %>
            <% (@course_publishe).each do |i|%>
                <tr> 
                    <td><%= Course.find(i.course_id).cname %></td>
                    <td><%= Course.find(i.course_id).rating %></td>
                    <td><%= CourseEnrollment.where(course_id: i.course_id).count %></td>
                    <td><%= button_to "Edit Syllabus", syllabus_path, method: :get, params: { course_id: i.course_id }, class: "button"  %></td>
                    <td><%= button_to "Delete Course", course_path(i.course_id), method: :delete, class: "button"  %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>